altair==5.5.0
attrs==24.3.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==5.5.0
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cryptography==43.0.1
cycler==0.12.1
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
fonttools==4.46.0
gaussian==0.1
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
mdurl==0.1.2
narwhals==1.20.1
numpy==1.26.2
openpyxl==3.1.5
packaging==23.2
pandas==2.2.2
pdfminer.six==20231228
pdfplumber==0.11.4
Pillow==10.1.0
plotly==5.24.1
protobuf==5.29.2
pyarrow==18.1.0
pycparser==2.22
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.1.1
pypdfium2==4.30.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
referencing==0.35.1
requests==2.31.0
rich==13.9.4
rpds-py==0.22.3
seaborn==0.13.2
six==1.16.0
smmap==5.0.1
soupsieve==2.5
SQLAlchemy==2.0.36
streamlit==1.41.1
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.4
